/LabWork1/Intermediate
/LabWork1/Saved
/LabWork1/LabWork1.sln
/LabWork1/.vs
/LabWork1/DerivedDataCache
/LabWork1/Content/LevelPrototyping
/LabWork1/Content/Characters/Mannequins
/LabWork1/Content/Characters/Mannequin_UE4
/LabWork2/Intermediate
/LabWork2/Saved
/LabWork2/.vsconfig
/LabWork2/LabWork2.sln
/LabWork2/.vs
/LabWork2/DerivedDataCache
/Labwork3/Intermediate
/Labwork3/Saved
/Labwork3/.vsconfig
/Labwork3/Labwork3.sln
/Labwork3/.vs
/Labwork3/DerivedDataCache
/Labwork4/Intermediate
/Labwork4/Saved
/Labwork4/.vsconfig
/Labwork4/Labwork4.sln
/Labwork4/.vs
/Labwork4/DerivedDataCache
